<h3 class="card-title">{{leyenda}}</h3>
<div class="input-group">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarvalor(-5, false)"> <i class="mdi mdi-minus"></i>
    </button>
  </span>
    <input #txtProgress type="number" class="form-control" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChange($event)" min="1" max="100">
    <span class="input-group-btn">
    <button class="btn btn-primary" type="button" (click)="cambiarvalor(+5, true)"><i class="mdi mdi-plus"></i></button>
  </span>
</div>